<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> Favorite Projects</h2>
        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card-product">
              <%# carousel begins here %>
              <div id="carouselExampleDark<%= project.id.to_s %>" class="carousel carousel-dark slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= image_tag project.image1, alt: "project image"%>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag project.image2, alt: "project image"%>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag project.image3, alt: "project image"%>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag project.image4, alt: "project image"%>
                  </div>
                </div>
                <%# button controls for carousel %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark<%= project.id.to_s %>" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark<%= project.id.to_s %>" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div>
                <%# project info %>
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2><%= project.name %></h2>
                    <% link_to project.url, class: 'external-link', target: '_blank' do %>
                      <i class="fas fa-external-link-alt"></i>
                    <% end %>
                  </div>
                  <p><%= project.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
